

button {
    background-color: #007bff; /* Blue background for the button */
    color: white; /* White text on the button */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 15px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition for the button */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #fafafa;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
