<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Plan Reminder App</title>
    <!--<link rel="stylesheet" href="static/style.css">--> <!-- Link to CSS file -->
    <style>
        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Plan Reminder</h1>
    </header>

    <class id="plan-list">
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {%block content%}{% endblock %}
        </div>

    <footer>
        <p>&copy; 2024 Plan Reminder App</p>
    </footer>
</body>
</html>
