{%extends "base.html"%}
{%block content%}
    <h2>{% block title %}Creating New A Task{% endblock  %}</h2>
    <form method="post">
        <label for="title">Task Name</label>
        <br>
        <input type="text" name="title" placeholder="Your task name here" value="{{request.form['title']}}"></input>
        <br>
        <label for="content">End Date</label>
        <br>
        <input type="text" name="content" placeholder="expected time duration" value="{{request.form["content"]}}"></input>
        <select name="time_unit">
            <option value= "Days">Days</option>
            <option value= "Hours">Hours</option>
        </select>
        <br>
        <button type="submit">Looks Good</button>
    </form>
{%endblock%}